<!DOCTYPE html>
<html>
  <style>
    body{background:DeepSkyBlue;font-family:Lucida;color: #fff; padding:30px;}
    h1{font-size: 48px; letter-spacing: 2px; text-align:center;}
    p{font-size:26px; text-align:center;}
  </style>
  <% include partials/nav.ejs %>
  <center><h1>Application Login Page</h1></center>
  <center><p>Team AppIt</p></center>
  <head></head>
  <body>
    <form id="login-form" method="POST" action="/login">
      <label for="email">Email</label>
      <input type="email" name="email" />
      <label for="pw">Password</label>
      <input type="password" name="pw" />
      <input type="Submit" value="Submit"/>
  </body>
</html>
